<main class="auth-container">
  <section class="auth-form">
    <div class="auth-box">
      <div class="flex flex-row gap-3">
        <img src="/icons/logo.svg" alt="logo" />
        <h1 class="text-2xl font-semibold text-white">BookWise</h1>
      </div>

      <div>
        <div class="flex flex-col gap-4">
          <h1 class="text-2xl font-semibold text-white">
            Create your library account
          </h1>
          <p class="text-light-100">
            Please complete all fields and upload a valid university ID to gain
            access to the library
          </p>
          <form
            [formGroup]="signUpForm"
            (ngSubmit)="onSubmit()"
            class="w-full space-y-6"
          >
            <div class="space-y-2">
              <label for="fullName">Fullname</label>
              <input
                id="fullName"
                formControlName="fullName"
                type="text"
                class="form-input"
                placeholder="Enter your fullname"
                required
              />
              @if (signUpForm.get('fullName')?.invalid &&
              signUpForm.get('fullName')?.touched) {
              <div class="text-red-500 text-xs">Fullname is required.</div>
              }
            </div>
            <div class="space-y-2">
              <label for="email">Email</label>
              <input
                id="email"
                formControlName="email"
                type="email"
                class="form-input"
                placeholder="Enter your email"
                required
              />
              @if (signUpForm.get('email')?.invalid &&
              signUpForm.get('email')?.touched) {
              <div class="text-red-500 text-xs">Valid email is required.</div>
              }
            </div>
            <div class="space-y-2">
              <label for="password">Password</label>
              <input
                id="password"
                formControlName="password"
                type="password"
                class="form-input"
                placeholder="Enter your password"
                required
              />
              @if (signUpForm.get('password')?.invalid &&
              signUpForm.get('password')?.touched) {
              <div class="text-red-500 text-xs">Password is required.</div>
              }
            </div>
            <div class="space-y-2">
              <label for="phoneNumber">Phone Number</label>
              <input
                id="phoneNumber"
                formControlName="phoneNumber"
                type="text"
                class="form-input"
                placeholder="Enter your phone number"
                required
              />
              @if (signUpForm.get('phoneNumber')?.invalid &&
              signUpForm.get('phoneNumber')?.touched) {
              <div class="text-red-500 text-xs">Phone number is required.</div>
              }
            </div>
            <button
              type="submit"
              class="form-btn"
              [disabled]="signUpForm.invalid"
            >
              Sign Up
            </button>
          </form>

          <p class="text-center text-base font-medium">
            Already have an account?
            <a routerLink="/sign-in" class="font-bold text-primary">Sign in</a>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="auth-illustration">
    <img
      src="/images/auth-illustration.png"
      alt="auth illustration"
      class="size-full object-cover"
    />
  </section>
</main>
